#moore-computer .article-header-image {
    margin-bottom: 10px;
}

#moore-computer .editorial-images {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

#moore-computer .editorial-images.landscape img {
    border: 1px solid black;
}

.editorial-images.bollinger {
    width: 100%;
    max-width: 380px;
    margin: 30px auto;
}
#egyptienne .editorial-images.ny-mag {
    margin-bottom: 20px;
}
#egyptienne .editorial-images.ny-mag img {
    width: 31%;
    object-fit: cover;
}

@media (max-width: 600px) {
    #moore-computer .editorial-images.side-by-side img {
        display: none;
    }

    #moore-computer .editorial-images.side-by-side img:nth-last-child(1) {
        display: inline;
        width: 100%;
        margin: auto;
    }
    #egyptienne .editorial-images.ny-mag {
        display: flex;
        margin-bottom: 20px;
    }
    #egyptienne .editorial-images.ny-mag img {
        width: 47.5%;
        margin-top: 20px
    }
    #egyptienne .editorial-images.ny-mag img:nth-of-type(1) {
        margin-right: 3%;
    }
    #egyptienne .editorial-images.ny-mag img:nth-last-of-type(1) {
        display: none;
    }
}

@media (min-width: 600px) {
    #egyptienne .editorial-images.ny-mag {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;    
    }
}
