#intro ol {
  margin-block-start: 0.25em;
  counter-reset: item;
  padding-inline-start: 1.5em;
}
#intro ol li {
  display: block;
}

#intro ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  width: 0.8em;
  display: inline-block;
}

.editorial-images {
  margin: 20px 0;
}
.editorial-images#autumn img:nth-of-type(1) {
  width: calc(46.4% - 7px);
}
.editorial-images#autumn img:nth-of-type(2) {
  width: calc(53.6% - 7px);
}
.editorial-images#nature img {
  width: calc(50% - 7px);
}
.editorial-images#bad-trip img:nth-of-type(1) {
  width: calc(40.5% - 7px);
}
.editorial-images#bad-trip img:nth-of-type(2) {
  width: calc(59.5% - 7px);
}
.editorial-images#record-covers img:nth-of-type(1) {
  width: calc(49.7% - 7px);
}
.editorial-images#record-covers img:nth-of-type(2) {
  width: calc(50.3% - 7px);
}
.editorial-images#movie-posters img:nth-of-type(1) {
  width: calc(49.7% - 7px);
}
.editorial-images#movie-posters img:nth-of-type(2) {
  width: calc(50.3% - 7px);
}
.editorial-images#book-covers img:nth-of-type(1) {
  width: calc(47.9% - 7px);
}
.editorial-images#book-covers img:nth-of-type(2) {
  width: calc(52.1% - 7px);
}


#hobo-party-posters {
  width: 100%;
}

article#weed p.article-header {
  font-size: 4.75rem;
  margin: 0;
  text-align: center;
}

article#weed p.article-subheader {
  text-align: center;
}
