@font-face {
  font-family: "Neue Montreal";
  src: url("neue_montreal.ttf") format('truetype');
}

@font-face {
  font-family: "Trickster";
  src: url("Trickster-Regular.woff");
}

@font-face {
  font-family: "Shatter";
  src: url("Shatter_Plain.ttf");
}

html {
  font-family: "Neue Montreal";
  -webkit-font-smoothing: antialiased;
  text-rendering:optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  font-weight: 100;
}

#intro {
  margin-top: 200px;
  font-size: 1.25rem;
}

h3 {
  /* font-family: "Trickster"; */
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 100;
}

.text-underline {
  text-decoration: underline;
}

.width-100p {
  width: 100%
}

article  {
  width: 50vw;
  max-width: 600px;
  margin: 100px auto auto;
}

article .body-text {
  margin-bottom: 0;
}

article table { 
  border-collapse: collapse;
  text-align: left;
}

article table col {
  width: 33.3%;
}

article table td, article table th {
	padding: .5rem;
  border: 1px solid black;
  vertical-align: text-top;
  max-width: 40%;
  font-weight: 100;
}

article table ol {
  padding-inline-start: 20px;
  margin-top: 0;
}

article iframe {
  margin-top: 28px;
}

.header {
  position: fixed;
  top: -35px;
  font-size: 50px;
  left: 40px;
  background: white;
}

@media (max-width: 600px) {
  article {
    width: 100%;
    margin: 35px auto auto
  }
  
  body {
    padding-top: 5px;
  }

  .header {
    position: sticky;
    font-size: 35px;
    margin: 0 4px 10px 0;
    text-align: right;
  }

  #intro {
    margin-top: 100px;
  }
}