#navbar {
    position: fixed;
    top: 15px;
    left: 20px;
    color: black;
    text-decoration: none;
    text-shadow: -3px 2px 0px white;
    line-height: 160%;
    letter-spacing: -1.6px;
}

.home-link-text {
    width: calc(100vw - 30px);
}

@media (max-width: 600px) {
    #navbar {
        position: relative;
        top: unset;
        left: unset;
    }
}